<!ESTILO DEL CUERPO>
body {
    color: #5a3323
    background-color: #ebd8d0; 
    font-family:'Rubik', sans-serif;
    font-size: 18px; 
    text-align: left; 
}

<!ENCABEZADOS>
h1, h2, h3, h4, h5, h6 {
    color: #c97b78; 
    font-family: font-family: 'Nunito', sans-serif; 
    border:5px solid #c97b78;   
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 10px;
}




<!ENLACES>
a {
    color: #c1d3fe
}


<!BOTONES>
.button {
    background-color: #c97b78; 
    color: #eac8bb; 
    border-radius: 5px; <!Bordes redondos>
    font-size: 18px;
}


<!TABLAS>
th, td {
    border: 1px solid #eac8bb; 
    text-align: center;
}

th {
    background-color: #eac8bb; 
    color: #5a3323;
}


