body{font-family:'Rubik', sans-serif; font-size: 18px ;background: linear-gradient(to bottom, #FF7F50, #FFDAB9);color: black; text-align: left;}

h1{color:white; border:5px solid white;text-align: center;}

h4 {color: white; text-align: right;}

table{width:100%; border:5px solid black; text-align: center;}

.fondoClaro {background-color:#FF7F50;}

.fondoOscuro{background-color:#FFDAB9}
