/* ESTILO DEL CUERPO */
body {
    background-color: #ebd8d0; 
    color: #5a3323; 
    font-family: Arial, sans-serif; /* 'Rubik', sans-serif */
    font-size: 18px;
    text-align: left;
}

/* ENCABEZADOS */
h1, h2, h3, h4, h5, h6 {
    color: #c97b78; 
    font-family: 'Georgia', serif; /* 'Nunito', sans-serif */
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ENLACES */
a {
    color: #c1d3fe;
}

/* BOTONES */
.button {
    background-color: #c97b78; 
    color: #eac8bb; 
    border-radius: 5px; /* Bordes redondos */
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* TABLAS */
th, td {
    border: 1px solid #eac8bb; 
    text-align: left;
    padding: 8px;
}

th {
    background-color: #eac8bb; 
    color: #5a3323;
}



